@model BlokjeKwijt.Web.Models.MatchViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.VerzoekenList[0].Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VerzoekenList[0].BlokjeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VerzoekenList[0].Naam)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VerzoekenList[0].BlokjeOverKwijt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VerzoekenList[0].BlokjesVerzoekStatus)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.VerzoekenList)
                {
                    if ((int)item.BlokjeOverKwijt == 1 && item.BlokjesVerzoekStatus == BlokjeKwijt.Data.Status.Niet_Afgerond)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BlokjeId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Naam)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BlokjeOverKwijt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BlokjesVerzoekStatus)
                            </td>
                            <td>
                                @Html.ActionLink("Match", "Match", new { id = item.Id, blokjeId = item.BlokjeId, kwijtOver = (int)item.BlokjeOverKwijt })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.VerzoekenList[0].Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VerzoekenList[0].BlokjeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VerzoekenList[0].Naam)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VerzoekenList[0].BlokjeOverKwijt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VerzoekenList[0].BlokjesVerzoekStatus)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.VerzoekenList)
                {
                    if ((int)item.BlokjeOverKwijt == 0 && item.BlokjesVerzoekStatus == BlokjeKwijt.Data.Status.Niet_Afgerond)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BlokjeId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Naam)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BlokjeOverKwijt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BlokjesVerzoekStatus)
                            </td>
                            <td>
                                @Html.ActionLink("Match", "Match", new { id = item.Id, blokjeId = item.BlokjeId, kwijtOver = (int)item.BlokjeOverKwijt })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
