@model IEnumerable<BlokjeKwijt.Web.Models.BlokjeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-controller="OverKwijt" asp-action="Index" method="get">
    <p>
        Blok Nummer: <input type="text" name="bloknr" />
        Lengte: <input type="text" name="lengte" />
        Breedte: <input type="text" name="breedte" />
        Nopjes: <input type="text" name="Nopjes" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlokNummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lengte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breedte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hoogte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nopjes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KleurId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlokNummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lengte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breedte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hoogte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nopjes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KleurId)
            </td>
            <td>
                <img class="card-img-top" src="/Images/@Url.Content(item.ImageName)">
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
